@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

    <h3>@Html.ActionLink("Create New Sketch", "Create", "Sketch")</h3>
    <h3>@Html.ActionLink("Sketches Index", "Index", "Sketch")</h3>
    <h3>@Html.ActionLink("Top Sketches Template", "TopSketches", "Sketch")</h3>
    <h3>@Html.ActionLink("Search Sketch", "Search", "Sketch")</h3>

